.link
{
    cursor: pointer;
    
}
.title
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.logo
{
    width: 40px;
}
.nickname
{
    color: #fff;
    font-weight: 750;
    font-size: 24px;
    letter-spacing: 1.3px;
}
.nickname_min
{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.3px;
}
@media (max-width: 2560px)
{
    .logo
    {
        width: calc(240px + (40 - 240) * ((100vw - 320px) / (2560 - 320)));
    }
    .nickname
    {
        font-size: calc(80px + (24 - 80) * ((100vw - 320px) / (2560 - 320)));
    }
    .nickname_min
    {
        font-size: calc(80px + (24 - 80) * ((100vw - 320px) / (2560 - 320)));
    }
}