.container
{
    background: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}
.content
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: clamp(200px, 85vw, 520px);
}
.title h6
{
    color: #000;
    font-size: clamp(1.2rem, 2vw, 2.6rem);
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0.24px;
}
.title p
{
    text-align: center;
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}
.job
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    gap: clamp(22px, 2vw, 40px);
}
.job_list:nth-child(2)
{
    background: #064BB4;
}
.job_list
{
    display: flex;
    padding: clamp(20px, 2vw, 32px) clamp(26px, 2vw, 40px);
    flex-direction: column;
    align-items: flex-start;
}
.description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.logo
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.logo h6
{
    color: #1C1C1E;
    font-size: clamp(1.3rem, 2vw, 1.6rem);
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}
.logo img
{
    width: clamp(38px, 2vw, 48px);
    height: clamp(38px, 2vw, 48px);
}
.text
{
    width: clamp(200px, 70vw, 282px);
}
.text p
{
    color: #636366;
    font-size: clamp(0.8rem, 2vw, 0.9rem);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}
.job_list:nth-child(2) .logo h6
{
    color: #fff;
}
.job_list:nth-child(2) .text p
{
    color: #D1D1D6;
}
@media (max-width: 1130px)
{
    .job
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "a b"
        "c .";
    }
    .job_list:nth-child(2)
    {
        grid-area: c;
        transform: translateX(clamp(170px, 2vw, 0px));
    }
    .job_list
    {
        border-radius: 20px;
    }
    .container
    {
        height: 950px;
    }
}
@media (max-width: 740px)
{
    .job
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c";
    }
    .job_list:nth-child(2)
    {
        grid-area: b;
        transform: translateX(0);
    }
    .container
    {
        height: 1350px;
    }
}