.cont
{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    gap: clamp(20px, 5vw, 200px);
    align-items: center;
    background: #F9F9FB;
}
.logo
{
    padding: 40px;
}
.container
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #F9F9FB;
}
.content
{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.title
{
    display: flex;
    justify-content: center;
    width: clamp(200px, 60vw, 800px);
}
.title h2
{
    text-align: center;
    font-weight: 600;
    font-size: clamp(32px, 3vw, 60px);
}
.auth
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.auth h2
{
    text-align: center;
    font-weight: 600;
    font-size: clamp(20px, 2vw, 40px);
}
@media (max-height: 800px)
{
    .cont
    {
        position: relative;
        height: 800px;
    }
}