.cssContainer
{
    width: 100%;
    height: 86px;
    background: #064bb4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fullBar
{
    background: #064bb4;
    display: flex;
}
.container
{
    display: flex;
    gap: calc(50px + (260 - 50) * ((100vw - 320px) / (2560 - 320)));
    user-select: none;
    align-items: center;
}
.menu
{
    display: flex;
    align-items: center;
}
.menu_list
{
    display: flex;
    gap: 40px;
    list-style: none;
}
a
{
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.buy_menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.buy_menu a
{
    font-size: 16px;
    display: flex;
}
.auth
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.buy
{
    width: 32px;
    cursor: pointer;
    display: flex;
}
.log_in
{
    color: #fff;
    border: #fff 1px solid;
    background-color: transparent;
    display: flex;
    width: 73px;
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    align-items: center;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
    transition: 0.4s;
}
.log_in:hover
{
    background-color: #043b8d;
}
.sign_up
{
    border: #bcff5e 1px solid;
    background: #bcff5e;
    color: #000;
    display: flex;
    width: 73px;
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    align-items: center;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
    transition: 0.4s;
}
.sign_up:hover
{
    background-color: #8cce2f
}
.navBarMob
{
    display: flex;
    align-items: center;
}
.menuIconButton
{
    width: 40px;
    height: 40px;
    z-index: 2;
    margin-left: 0;
}
.menuIconButton svg
{
    width: 40px;
    height: 40px;
    color: #fff;
    margin-left: 0;
}
.menuIconButton:hover svg
{
    transform: translateX(0px)
}
.menu_mob
{
    display: flex;
    position: absolute;
    width: 195px;
    height: 428px;
    padding: 0 10px;
    transform: translate(-210px , 240px);
    background: #064bb4;
    border: 1px solid #bcff5e;
    border-radius: 20px;
    z-index: 5;
}
.menu_list_mob
{
    display: grid;
    width: 123px;
    height: 288px;
    gap: 20px;
    list-style: none;
    padding: 20px;
}
.menu_list_mob li
{
    padding: 5px 0;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    transition: 0.5s;
}
.menu_list_mob li:hover
{
    background-color: #043b8d;
}
.menu_list_mob a
{
    padding: 0 25px;
}
.menu_list_mob li:hover
{
    opacity: 1;
    border-radius: 20px;
    border: 2px solid #bcff5e;
}
.logout_menu
{
    padding: 11px;
    background: transparent;
    border: 2px solid #bcff5e;
    color: #fff;
    transition: 0.5s;
}
.logout_menu:hover
{
    background-color: #043b8d;
}
.user
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user img
{
    width: 30px;
    height: 30px;
}
.user button
{
    padding: 10px 16px;
}
@media (min-width: 1440px)
{
    .navBarMob
    {
        display: none;
    }
}
@media (max-width: 1439px)
{
    .menu
    {
        display: none;
    }
    .container
    {
        gap: calc(200px + (650 - 200) * ((100vw - 320px) / (1439 - 320)));
    }
}
@media (max-width: 960px)
{
    .auth
    {
        display: none;
    }
    .container
    {
        gap: calc(300px + (600 - 300) * ((100vw - 320px) / (960 - 320)));
    }
}
@media (max-width: 805px)
{
    .container
    {
        gap: calc(20px + (500 - 20) * ((100vw - 320px) / (805 - 320)));
    }
}
@media (max-width: 700px)
{
    .container
    {
        gap: calc(20px + (400 - 20) * ((100vw - 320px) / (700 - 320)));
    }
}
@media (max-width: 600px)
{
    .container
    {
        gap: calc(50px + (300 - 50) * ((100vw - 320px) / (600 - 320)));
    }
}
