.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 410px;
    background: #08172D;
    position: relative;
}
.content
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1600px;
}
.logo_desc
{
    display: flex;
    width: 365px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.logo_desc_text
{
    width: 363px;
}
.logo_desc_text p
{
    color: #AEAEB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}
.menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.navList
{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navItem
{
    display: flex;
}
.navItem a
{
    color: #C5C5C5;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
    text-decoration: none;
}
.news
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.NewsletterForm
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    gap: 16px;
}
.NewsletterForm label
{
    color: #8E8E93;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.NewsletterForm input
{
    color: #fff;
    display: flex;
    grid-column: 1;
    width: 247px;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.12);
    border: none;
}
.NewsletterForm button
{
    grid-column: 2;
    display: flex;
    width: 150px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #BCFF5E;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}
.NewsletterForm button:hover
{
    background-color: #8cce2f
}
.line span
{
    border: 1px solid #E9EBED;
    opacity: 0.16;
    display: flex;
    width: 1600px;
    height: 0px;
    margin-top: 97px;
}
.copyright
{
    display: flex;
    flex-direction: column;
}
.copyright img
{
    width: 14px;
    height: 14px;
}
.incContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
}
.inc h6
{
    color: #AEAEB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}
.socialMedia
{
    display: flex;
    width: 240px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.socialMedia a
{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}
.privacyCart
{
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
}
.privacyCart li
{
    display: flex;
}
.privacyCart li a
{
    color: #C5C5C5;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
    text-decoration: none;
}
@media (max-width: 2560px)
{
    .content
    {
        width: calc(300px + (1600 - 300) * ((100vw - 320px) / (2560 - 320)));
    }
    .line span
    {
        width: calc(300px + (1600 - 300) * ((100vw - 320px) / (2560 - 320)));
    }
    .copyright
    {
        width: calc(300px + (1600 - 300) * ((100vw - 320px) / (2560 - 320)));
    }
    .logo_desc_text
    {
        width: calc(250px + (365 - 250) * ((100vw - 320px) / (2560 - 320)));
    }
    .logo_desc_text p
    {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
    }
    .logo_desc
    {
        width: calc(250px + (365 - 250) * ((100vw - 320px) / (2560 - 320)));
    }
    .NewsletterForm label
    {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
    }
    .navItem a
    {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
    }
    .privacyCart li a
    {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
    }
    .inc h6
    {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
    }
    .NewsletterForm button
    {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
        padding-top: calc(10px + (16 - 10) * ((100vw - 320px) / (1700 - 320)));
        padding-bottom: calc(10px + (16 - 10) * ((100vw - 320px) / (1700 - 320)));
        padding-left: calc(30px + (40 - 30) * ((100vw - 320px) / (1700 - 320)));
        padding-right: calc(30px + (40 - 30) * ((100vw - 320px) / (1700 - 320)));
    }
}
@media (max-width: 1920px)
{
    .container
    {
        height: 500px;
    }
    .content
    {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "h a"
        "c .";
        gap: 50px;
    }
    .menu
    {
        grid-area: c;
        transform: translateX(calc(40px + (330 - 40) * ((100vw - 320px) / (1920 - 320))));
    }
    .NewsletterForm
    {
        grid-area: a;
    }
}
@media (max-width: 1279px)
{
    .NewsletterForm input
    {
        width: calc(200px + (247 - 200) * ((100vw - 320px) / (1279 - 320)));
    }
}
@media (max-width: 1101px)
{
    .container
    {
        height: 600px;
    }
    .NewsletterForm button
    {
        grid-column: 1;
        width: 100%;
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (2560 - 320)));
        padding-top: calc(10px + (16 - 10) * ((100vw - 320px) / (1700 - 320)));
        padding-bottom: calc(10px + (16 - 10) * ((100vw - 320px) / (1700 - 320)));
        padding-left: calc(30px + (40 - 30) * ((100vw - 320px) / (1700 - 320)));
        padding-right: calc(30px + (40 - 30) * ((100vw - 320px) / (1700 - 320)));
    }
    .incContainer
    {
        grid-template-columns: 1fr 1fr ;
        grid-template-areas:
        "h a"
        "c .";
        gap: 20px;
    }
    .socialMedia
    {
        grid-area: c;
    }
    .socialMedia
    {
        transform: translateX(calc(40px + (250 - 40) * ((100vw - 320px) / (1101 - 320))));
    }
}
@media (max-width: 900px)
{
    .container
    {
        height: 750px;
    }
    .content
    {
        grid-template-columns: 1fr;
        grid-template-areas:
        "a"
        "h"
        "c";
        justify-items: center;
    }
    .menu
    {
        transform: translateX(0);
    }
}
@media (max-width: 699px)
{
    .container
    {
        height: 800px;
    }
    .incContainer
    {
        grid-template-columns: 1fr;
        grid-template-areas:
        "a"
        "h"
        "c";
        justify-items: center;
    }
    .socialMedia
    {
        grid-area: h;
        transform: translateX(0);
    }
    .privacyCart
    {
        grid-area: c;
    }
}