.cssContainer
{
    display: flex;
    width: 100%;
    height: 1680px;
    background: #F9F9FB;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.titleText
{
    display: flex;
    width: 582px;
    padding-top: 120px;
    padding-bottom: 56px;
}
.titleText h3
{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px; 
    letter-spacing: 0.24px;
    text-transform: capitalize;
}
.content
{
    display: inline-flex;
    gap: 48px;
    height: 580px;
    align-items: center;

}
.card_list
{
    width: 524px;
    background: #fff;
    display: flex;
    padding: 32px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    border-radius: 20px;
}
.logo_title
{
    width: 393px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.16px;
}
.logo_title img
{
    width: 48px;
    height: 48px;
}
.points
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.feature
{
    display: flex;
    gap: 12px;
}
.card_image
{
    width: auto;
    height: auto;
}
.points .feature h5
{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.09px;
}
.points .feature img
{
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 1px solid  #E9EBED;
}
.line
{
    width: 308px;
    height: 0px;
    border: 1px solid  #E9EBED;
}
.button
{
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: none;
    background: #bcff5e;
    color: #1C1C1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.08px;
    cursor: pointer;
    transition: 0.4s;
}
.button:hover
{
    background-color: #8cce2f
}
.content_second
{
    display: flex;
    gap: 48px;
    height: 580px;
    margin-top: 120px;
    align-items: center;
    flex-direction: row-reverse;
}
@media (max-width: 1700px)
{
    .container
    {
        align-items: flex-start;
        padding-left: calc(10px + (340 - 10) * ((100vw - 320px) / (1700 - 320)));
    }
    .card_image
    {
        width: calc(80px + (631 - 80) * ((100vw - 320px) / (1700 - 320)));
    }
    .card_list
    {
        width: calc(80px + (631 - 80) * ((100vw - 320px) / (1700 - 320)));
    }
    .logo_title
    {
        width: calc(200px + (393 - 200) * ((100vw - 320px) / (1700 - 320)));
        font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1700 - 320)));
    }
    .card_list
    {
        padding-top: calc(16px + (32 - 16) * ((100vw - 320px) / (1700 - 320)));
        padding-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (1700 - 320)));
        padding-right: calc(20px + (32 - 20) * ((100vw - 320px) / (1700 - 320)));
        padding-left: calc(20px + (32 - 20) * ((100vw - 320px) / (1700 - 320)));
    }
    .logo_title img
    {
        width: calc(40px + (48 - 40) * ((100vw - 320px) / (1700 - 320)));
        height: calc(40px + (48 - 40) * ((100vw - 320px) / (1700 - 320)));
    }
    .points .feature h5
    {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1700 - 320)));
    }
    .line
    {
        width: calc(194px + (308 - 194) * ((100vw - 320px) / (1700 - 320)));
    }
    .titleText
    {
        width: calc(300px + (582 - 300) * ((100vw - 320px) / (1700 - 320)));
        transform: translateX(calc(-680px + (0 + 680) * ((100vw - 320px) / (1700 - 320))));
    }
    .titleText h3
    {
        font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1700 - 320)));
    }
}
@media (max-width: 1101px)
{
    .cssContainer
    {
        height: 2400px;
        justify-content: flex-start;
    }
    .container
    {
        gap: 400px;
    }
    .content
    {
        flex-direction: column;
        padding-left: calc(30px + (200 - 30) * ((100vw - 320px) / (1101 - 320)));
    }
    .content_second{
        flex-direction: column;
        padding-left: calc(30px + (200 - 30) * ((100vw - 320px) / (1101 - 320)));
    }
    .card_image
    {
        width: calc(200px + (631 - 200) * ((100vw - 320px) / (1700 - 320)));
    }
    .card_list
    {
        width: calc(200px + (631 - 200) * ((100vw - 320px) / (1700 - 320)));
    }
}
