.contact_form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}
.form_cont
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 80%;
}
label
{
    display: flex;
    width: 721px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
    
}
label input
{
    display: flex;
    height: 52px;
    width: 100%;
    padding-left: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #E9EBED;
    background: #FFF;
}
label input::placeholder
{
    color: #AEAEB2;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}
textarea
{
    display: flex;
    height: 132px;
    padding: 16px 0px 0px 16px;
    align-items: flex-start;
    align-self: stretch;
    resize: none;
    border-radius: 24px;
    border: 1px solid #E9EBED;
    background: #FFF;
    width: calc(100% - 18px);
}
.btn
{
    width: 80%;
    display: flex;
}
.btn button
{
    display: flex;
    padding: clamp(12px, 2vw, 16px) clamp(32px, 2vw, 40px);
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #BCFF5E;
    border: none;
    color: #1C1C1E;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
    cursor: pointer;
    transition: 0.4s;
}
.btn button:hover
{
    background-color: #8cce2f
}
@media (max-width: 999px)
{
    .form_cont
    {
        width: 100%;
    }
    .btn
    {
        width: 100%;
    }
}