.container
{
    background: #F9F9FB;
    width: 100%;
    height: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.membership
{
    background: #F9F9FB;
    width: calc(100% - 960px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.cart
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
}
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.chips
{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--additional-colors-line, #E9EBED);
}
.chips h6
{
    color: #064BB4;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.aplication
{
    width: 700px;
}
.aplication h4
{
    color: #171725;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-align: center;
}
.membership_content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 43px;
}
.plan
{
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
}
