.progList
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.progItem
{
    display: flex;
    flex-basis: 200;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background-color: #fff;
    border-radius: 20px;
    height: 250px;
    width: 303px;
}
.progItem:nth-child(2)
{
    background-color: #bcff5e;
    border-radius: 0px;
}
.progItem:nth-child(1)
{
    border-radius: 20px 0px 0px 20px
}
.progItem:nth-child(3)
{
    border-radius: 0px 20px 20px 0px
}
.progItem_icon
{
    width: calc(40px + (48 - 40) * ((100vw - 320px) / (2560 - 320)));
    height: calc(40px + (48 - 40) * ((100vw - 320px) / (2560 - 320)));
}
.progItem_text
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.progItem_text p
{
    color: #636366;
    font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (2560 - 320)));
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.progItem_text h5
{
    color: #1C1C1E;
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (2560 - 320)));
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}
.progItem a
{
    display: flex;
    gap: 4px;
    text-decoration: none;
    color: #1C1C1E;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.progItem a img
{
    width: 20px;
    height: 20px;
}
@media (max-width: 1124px)
{
    .progList
    {
        grid-template-columns: 1fr 1fr;
    }
    .progItem:nth-child(2)
    {
        border-radius: 0px 20px 20px 0px;
    }
    .progItem:nth-child(1)
    {
        border-radius: 20px 0px 0px 20px;
    }
    .progItem:nth-child(3)
    {
        border-radius: 0px 0px 20px 20px;
        transform: translateX(calc(150px + (170 - 150) * ((100vw - 320px) / (1124 - 320))));
    }
    
}
@media (max-width: 767px)
{
    .progList
    {
        grid-template-columns: 1fr;
    }
    .progItem:nth-child(3)
    {
        transform: translateX(0);
    }
    .progItem:nth-child(2)
    {
        border-radius: 0px 0px 0px 0px;
    }
    .progItem:nth-child(1)
    {
        border-radius: 20px 20px 0px 0px
    }
}
@media (max-width: 520px)
{
    .progItem
    {
        width: calc(200px + (303 - 200) * ((100vw - 320px) / (520 - 320)));
    }
}