.programs
{
    background: #F9F9FB; 
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    height: 850px;
}
.cart
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
}
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.chips
{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--additional-colors-line, #E9EBED);
}
.chips h6
{
    color: #064BB4;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.aplication
{
    width: clamp(300px, 2vw, 700px);
}
.aplication h2
{
    color: #171725;
    font-size: clamp(20px, 2vw, 40px);
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-align: center;
}
@media (max-width: 767px)
{
    .programs
    {
        height: 1200px;
    }
}