.conatiner
{
    width: 100%;
    height: 1100px;
    background: #F9F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 52px;
}
.content
{
    display: flex;
    width: calc(100% - 960px);
    justify-content: space-between;
}
.cart
{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.cart h1
{
    color: #09080D;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.16px;
}
.item
{
    display: inline-flex;
    padding: 0 24px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #ebecee;
    background: #FFF;
}
.item img
{
    width: 20px;
    height: 22px;
    display: flex;
}
.value
{
    display: inline-flex;
    padding: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.price h2
{
    word-spacing: 30px;
    color: #09080D;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.2px;
}
.price h2 span
{
    color: #8E8E93;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.title
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.title h5
{
    color:#1C1C1E;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.09px;
}
.title p
{
    width: 700px;
    color: #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}
.amount
{
    display: inline-flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    border-radius: 20px;
    background: #FFF;
}
.amount h2
{
    color: #09080D;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.1px;
}
.amount_list
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    gap: 10px;
}
.item_plan
{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.item_plan h5
{
    color: #8E8E93;
    font-size: 13px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.2px;
}
.price_in_amount h2
{
    word-spacing: 10px;
    color: #09080D;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.2px;
}
.price_in_amount h2 span
{
    color: #8E8E93;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.07px;
}
.total
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.total h2
{
    word-spacing: 10px;
    color: #09080D;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.2px;
}
.purchase
{
    background: #bcff5e;
    border: none;
    display: flex;
    width: 100%;
    padding: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.08px;
    cursor: pointer;
    color: #1C1C1E;
}